.container {
    max-width: 1920px;
}


h1{
    color:#f7768e;
    font-weight: bolder;
    font-size:70px;
    font-family:Roboto Serif;
    padding-left:6rem;
}
.header {
    padding-top:2em; 
    width:650px; 
}
.info {
    color:#7aa2f7;
    font-size: 1.5rem; 
    font-family:inter;
    width:500px;
    padding-left:1rem;
    margin-left:6rem;
    border-left: 5px #f7768e solid;

}
body {
    background-color:#1a1b26;
    font-size: 15px;
}
.theme{
    background-color:#f7768e;
    border-color: #f7768e;
}
.pallete{
    background-color:#7aa2f7;
    border-color:#7aa2f7;
}
.contact{
    background-color:#9ece6a;
    border-color:#9ece6a;
}

button{
    border-radius: 10px;
    padding:10px;
    font-size:40px;
    margin-left:0.7rem;
}

.buttons{
    
    padding: 1rem 5rem;
}

.infolink {
    color:#7dcfff;
    text-decoration:none;
    
}

.infolink:hover {
    text-decoration:underline; 

}



#f7768e {
    background-color:#f7768e;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#ff9e64 {
    background-color:#ff9e64;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#e0af68 {
    background-color:#e0af68;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#cfc9c2 {
    background-color: #cfc9c2;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#color9ece6a {
    background-color:#9ece6a;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#color73daca {
    background-color:#73daca;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#b4f686 {
    background-color:#b4f6f8;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#color2ac3de {
    background-color: #2ac3de;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#b4f9f8 {
    background-color: #b4f9f8;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#color2ac3de {
    background-color: #2ac3de;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#color7dcfff {
    background-color: #7dcfff;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
} 

#color7aa2f7 {
    background-color: #2aa2f7;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#bb9af7 {
    background-color:#bb9af7;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center; 
    border-radius: 10px;
}

#c0caf5 {
    background-color:#c0caf5;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#a9b1d6 {
    background: #a9b1d6;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#color9aa5ce {
    background-color: #9aa5ce;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#color565f89 {
    background-color:#565f89;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
}

#color414868 {
    background-color:#414868;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
    
}

#color24283b {
    background-color:#24283b;
    width: 100px;
    height:100px;
    margin-bottom: 10px;
    text-align: center; 
    border-radius: 10px;
    
    
    
}

#color1a1b26 {
    background-color: #1a1b26;
    width: 100px;
    height:100px;
    margin-bottom:10px;
    text-align: center; 
    border-radius:10px;
    
    
}

.colortext {
    background-color: #414868;
    color:#9aa5ce;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    
}

.colors div {
    
}