body {
    background-color: #1a1b26;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aquamarine;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
}

.contact-card {
    width: 300px;
    height: 400px;
    min-width: 150px;
    min-height: 300px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #c9caf5;
    padding: 10px;
    margin-top: 5rem;
}

p {
    text-align: left;
    color: #c0caf5;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2.5rem;
    padding-left:10px;
    padding-right: 10px;
}

img {
    width: 70px;
    height: 70px;
}

.icon {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0) saturate(100%) invert(68%) sepia(95%) saturate(493%) hue-rotate(175deg) brightness(102%) contrast(102%);
    padding-top: 25%;
}


.headnav {
    width:100%;
    height:4rem;
    font-family: Fira Code;
    justify-items: flex-start;
}


.redirects {
    padding-top: 20px;
    background-color:aquas;
    white-space: nowrap;
    margin-left: 14%;
}

.redirects a {
    margin-right:40px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color:#9aa5ce;
    transition: 40ms;
}

.redirects a:hover {
    text-decoration: underline;
    text-decoration-color: #7dcfff;
}


