:root {
    --color-background: #1a1b26;
    --color-text: #c0caf5;
    --color-link: #7dcfff;
    --color-nav-list: #565f89;
    --color-nav-border: #565f89;
    --color-nav-heading: #9aa5Ce;
    --color-h1: #f7768e;
    --color-h2: #9ece6a;
}



.headnav {
    display: flex;
    width: 100%;
    height: 4em;
    font-family: fira code;
    margin-bottom: 50px;
}

.redirects {
    padding-top: 20px;
    width: 50em;
    height: 50px;
    text-align: left;
    white-space: nowrap;
}

.redirects a {
    margin-right: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-nav-heading);
    transition: 40ms;
}

.redirects a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}


footer {
    display: flex;
    flex-direction: row;
    height: 128px;
    width: 100%;
    background-color: greens;
    margin-top:0 auto;
    padding-left: 15%;
    border-top: 1px solid var(--color-nav-list);
}

 footer ul {
    list-style: none;
    padding: 0;
}

.menu-h2 {
    color: var(--color-nav-heading);

    font-size: 20px;
    font-weight: normal;
    font-family: inter;
    height: 15px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.link-list {
    margin-left: 10px;
    margin-right: 95px;
    font-family: inter;
    font-size: 15px;
}

.link-list a {
    color: var(--color-nav-list);
    text-decoration: none;
    white-space: nowrap;
}

.link-list a:hover {
    text-decoration: underline;
    color: var(--color-nav-list)
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.heading {
    color: var(--color-h1);
    font-family: inter;
    text-align: left;
    padding-right: 5%;

}

.container {
    max-width: 1440px;
    padding-left: 10%;
    padding-right: 10%;
    flex-grow: 1;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        padding-left:25%;
    }
    .link-list {
        text-align: center;
    }

    .redirects a {
        margin-right: 1%;
    }

    .container {
        padding-left:5% !important;
        padding-right:0% !important;
    }

    .headnav {
        text-align: center;
    }
}