.headnav {
    width: 100%;
    height: 4rem;
    font-family: fira code;
    margin-bottom: 20px;
}

.redirects {
    padding-top: 20px;
    width: 50rem;
    height: 50px;
    relative text-align: left;
    padding-left: 10%;
}

.redirects a {
    margin-right: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #9aa5ce;
    transition: 40ms;
}

.redirects a:hover {
    text-decoration: underline;
    text-decoration-color: #7dcfff;
    text-decoration-thickness: 2px;
    text-underline-offset:8px;
}

footer {
    display: flex;
    flex-direction: row;
    max-height: 120px;
    background-color: greens;
    margin-top: 100px;
    padding-left: 55px;
    border-top: 1px solid #565f89;

}


ul {
    list-style: none;
    color: #565f89;
    padding: 0;
}

.menu-h2 {
    color: #9aa5Ce;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    font-family: inter;
    height: 15px;
}

.link-list {
    margin-left: 10px;
    margin-right: 95px;
    padding-bottom: 20px;
    font-family: inter;
    font-size: 15px;
}

.link-list a {
    color: #565f89;
    text-decoration: none;
}

.link-list a:hover {
    text-decoration: underline;
}

body {
    background-color: #1a1b26;
}

