:root {
    --color-background:#1a1b26;
    --color-text:#c0caf5; 
    --color-link:#7dcfff;	
    --color-nav-list:#565f89;
    --color-nav-border:#565f89;
    --color-nav-heading:#9aa5Ce;
    --color-h1:#f7768e;
    --color-h2:#9ece6a;
}



.headnav {
    width: 100%;
    height: 4rem;
    font-family: fira code;
    margin-bottom: 20px;
}

.redirects {
    padding-top: 20px;
    width: 50rem;
    height: 50px;
    text-align: left;
    padding-left: 10%;
}

.redirects a {
    margin-right: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-nav-heading);
    transition: 40ms;
}

.redirects a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 2px;
    text-underline-offset:8px;
}


footer {
    display: flex;
    flex-direction: row;
    height: 120px;
    width:100%;
    background-color: greens;
    margin-top: 100px;
    padding-left: 55px;
    border-top: 1px solid var(--color-nav-list);
}


ul {
    list-style: none;
    padding: 0;
}

.menu-h2 {
    color:var(--color-nav-heading);
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    font-family: inter;
    height: 15px;
}

.link-list {
    margin-left: 10px;
    margin-right: 95px;
    padding-bottom: 20px;
    font-family: inter;
    font-size: 15px;
}

.link-list a {
    color:var(--color-nav-list);
    text-decoration: none;
    white-space: nowrap;
}

.link-list a:hover {
    text-decoration: underline;
}

body {
    background-color:var(--color-background);
}

.heading {
   color:var(--color-h1);
   font-family: inter;
   text-align: left;
   white-space: nowrap;
}