

table {
    border-collapse: collapse;
    margin-bottom: 2.5%;
}

td {
    color:#c0caf5;   
    margin:10px;
    padding-bottom: 1em;
    padding-top: 1em;
    font-family: Fira Code;
}

thead {
    text-align: left;
}



tr:nth-of-type(2n+1) {
    background-color: #41486880;
}

tr:nth-of-type(1) {
    background-color: #1a1b2680;
}

th {
    background-color: #1a1b26;
    padding-bottom: 1rem;
    font-family:inter;
    font-size: 1.2rem;
    color:#7aa2f7;
    font-weight: normal;
    border-bottom: 1px solid #c0caf5;
}

.color {
    width: 20px;
    height: 20px;
    border-radius:50%;
    margin-left: 10%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    
}

.header {
    color: #f7768e;
    text-align: left;
    font-size: 20px;
    font-family: inter;
}

p {
    font-size: 25px;
    color: #c0caf5;
    font-family: inter;
}



.palettename{
    color:#9ece6a;
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1rem;
    font-family: inter;
    border-bottom: 1px solid #414868;
    width: fit-content;
    padding-top: 1rem
}


