:root {
    --color-background: #1a1b26;
    --color-text: #c0caf5;
    --color-link: #7dcfff;
    --color-nav-list: #565f89;
    --color-nav-border: #565f89;
    --color-nav-heading: #9aa5Ce;
    --color-h1: #f7768e;
    --color-h2: #9ece6a;
    --color-tr-1: #41486880;
    --color-tr-2:#1a1b2680;
    --color-background-lighter: #24283b;

}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    background-color: aquas;
   
}


.theme-name {
    color: var(--color-h2);
    text-align: left;
    font-size: 25px;
    font-family: inter;
    margin-top: 35px;
    margin-bottom: 25px;
}



h1 {
    font-size: 40px;
}

button a:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
    font-size: 25px;
    color: var(--color-text);
    font-family: inter;
    padding-right: 1%;
}

p a {
    text-decoration: none;
    color: var(--color-link) !important; 
}

p a:hover {
    text-decoration: underline;
}



.port-grid {
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    font-family: inter;
    margin-bottom: 5%;
}

.port {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 150px;
    width: 200px;
    background-color: var(--color-background-lighter);
    border: 2px solid var(--color-text);
    border-radius: 10px;
    text-decoration: none;
}

.port:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-color:var(--color-text);
}

.port-name {
    background-color: var(--color-background);
    height: 25px;
    width:100%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--color-text);
    font-size: 1em;
    font-weight:500;
}


.port-icon-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-icon {
    width: 75px;
    height: 75px;
    filter: brightness(0) saturate(100%) invert(90%) sepia(6%) saturate(7454%) hue-rotate(185deg) brightness(105%) contrast(92%);
    /* filter: brightness(0) saturate(100%) invert(68%) sepia(95%) saturate(493%) hue-rotate(175deg) brightness(102%) contrast(102%);
 */
}

.container {
    max-width: 1700px;
}

@media (max-width:600px)
{
    .port-grid {
        justify-content:center;
    }

    h1, p, .theme-name {
        text-align: center;
    }

    .port {
        width: 45%;
        font-size: 75%;
    }

    .port-name {
        padding:1%;
        padding-top:2%;
    }
}    


