
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    background-color: aquas;
    padding-left: 10%;
}



.theme-name {
    color: #9ece6a;
    text-align: left;
    font-size: 25px;
    font-family: inter;

}

.header {
    color: #f7768e;
    text-align: left;
    font-family: inter;
}

h1 {
    font-size: 40px;
}

button a:hover {
    text-decoration: underline;
}

p {
    font-size: 25px;
    color: #c0caf5;
    font-family: inter;
}

p a {
    text-decoration: none;
    color: #7dcfff;
}

p a:hover {
    text-decoration: underline;
}



.port-grid {
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: left;
    flex-wrap: wrap;
    width: 90%;
    font-family: inter;
    margin-bottom: 5%;
}

.port {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 150px;
    width: 200px;
    background-color: #24283b;
    border: 2px solid #c0caf5;
    border-radius: 10px;
    text-decoration: none;
}

.port:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-color:#c0caf5;
}

.port-name {
    background-color: #1a1b26;
    height: 25px;
    width: 200px;
    text-align: center;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #c0caf5;
    font-size: 1rem;
    font-weight:500;
}


.port-icon-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-icon {
    width: 75px;
    height: 75px;
    filter: brightness(0) saturate(100%) invert(90%) sepia(6%) saturate(7454%) hue-rotate(185deg) brightness(105%) contrast(92%);
    /* filter: brightness(0) saturate(100%) invert(68%) sepia(95%) saturate(493%) hue-rotate(175deg) brightness(102%) contrast(102%);
 */
}