:root {
    --color-background: #1a1b26;
    --color-text: #c0caf5;
    --color-link: #7dcfff;
    --color-nav-list: #565f89;
    --color-nav-border: #565f89;
    --color-nav-heading: #9aa5Ce;
    --color-h1: #f7768e;
    --color-h2: #9ece6a;
    --color-tr-1: #41486880;
    --color-tr-2: #1a1b2680;
    --color-background-lighter: #24283b;
    --color-button-theme: #f76e8e;
    --color-button-palette: #7aa2f7;
    --color-button-contact: #9ece6a;

}

.flex-container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-direction: row;
    padding-top: 100px;
    width: 600px;
}

h1 {
    color: var(--color-h1);
    font-weight: bolder;
    font-size: 70px;
    font-family: Roboto Slab;
    width: 100%;
    margin-bottom: 40px;
}

.info {
    color: var(--color-text);
    font-size: 1.45em;
    font-family: inter;
    width: 550px;
    padding-left: 10px;
    border-left: 5px var(--color-h1) solid;
}


.theme {
    background-color: var(--color-button-theme);
    border-color: var(--color-button-theme);
    width: 90px;
}

.palette {
    background-color: var(--color-button-palette);
    border-color: var(--color-button-palette);
    width: 120px;
}

.contact {
    background-color: var(--color-button-contact);
    border-color: var(--color-button-contact);
    width: 130px;
}

button {
    border-radius: 10px;
    font-size: 30px;
    border: none;
    margin-right: 20px;
    height: 60px;
}

.buttons {
    margin-top: 50px;
    display: flex;
}

.buttons a {
    text-decoration: none;
    color: #1a1b26;
    font-weight: 600;
    font-family: inter;

}

.infolink {
    color: #7dcfff;
    text-decoration: none;

}

.infolink:hover {
    text-decoration: underline;

}


.colortext p {
    background-color: #414868;
    color: #9aa5ce;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    font-family: Fira code;
    font-size: 0.95em;
}



.color-content {
    display: flex;
    margin-top: 55px;
    padding-right: 200px;
    width: 600px;
    height: 360px;
    flex-wrap: wrap;
    flex-direction:column;
    gap:5px;
    padding-bottom:10px;
    justify-content:end;
    background-color:aquas;
    margin-bottom: 55px;
}

.color-row {
    flex-direction: row;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.color {
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

@media (max-width:900px)
{
    .color-content {
        height: 500px;
    }
}

@media (min-width:1440px) 
{
    .color-content{
        width:fit-content;
        height: 550px;
        background-color: aquas;
        margin-left: 100px;
        margin-top: 60px;
        padding-right: 100px;
        justify-content: end;
    }

    .flex-container {
        flex-direction: row;
    }

    .color {
        width: 105px;
        height: 105px;
    }
}

@media (max-width:600px) {
    .content {
        flex-direction: column;
        width: 300px;
        padding-top: 60px;
    }

    .info {
        width: 300px;
    }

    h1 {
        font-size: 50px;
    }

    .buttons {
        flex-direction: column;
        gap:20px;
    }
    .theme, .palette , .contact {
        width: 130px;
    }

    .color-content {
        width: 300px;
        height: 700px;
        flex-direction: column;
        justify-content: start;
        margin-bottom: 50px;
    }

    .flex-container {
        flex-direction: column;
    }
}


