:root {
    --color-background: #1a1b26;
    --color-text: #c0caf5;
    --color-link: #7dcfff;
    --color-nav-list: #565f89;
    --color-nav-border: #565f89;
    --color-nav-heading: #9aa5Ce;
    --color-h1: #f7768e;
    --color-h2: #9ece6a;
    --color-tr-1: #41486880;
    --color-tr-2: #1a1b2680;
    --color-background-lighter: #24283b;
    --color-button-theme: #f76e8e;
    --color-button-palette: #7aa2f7;
    --color-button-contact: #9ece6a;

}

.flex-container {
    display: flex;
}

.content {
    flex-direction: row;
    padding-top: 100px;
    width: 800px;
}

h1 {
    color: var(--color-h1);
    font-weight: bolder;
    font-size: 70px;
    font-family: Roboto Slab;
    width: 100%;
    margin-bottom: 40px;
}

.info {
    color: var(--color-text);
    font-size: 1.45em;
    font-family: inter;
    width: 600px;
    padding-left: 10px;
    border-left: 5px var(--color-h1) solid;
}


.theme {
    background-color: var(--color-button-theme);
    border-color: var(--color-button-theme);
}

.palette {
    background-color: var(--color-button-palette);
    border-color: var(--color-button-palette);
}

.contact {
    background-color: var(--color-button-contact);
    border-color: var(--color-button-contact);
}

button {
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    border: none;
    margin-right: 10px;
    width: 130px;
    height: 60px;
}

.buttons {
    margin-top: 50px;
    display: flex;
}

.buttons a {
    text-decoration: none;
    color: #1a1b26;
    font-weight: 600;
    font-family: inter;

}

.infolink {
    color: #7dcfff;
    text-decoration: none;

}

.infolink:hover {
    text-decoration: underline;

}



.f7768e {
    background-color: #f7768e;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.ff9e64 {
    background-color: #ff9e64;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.e0af68 {
    background-color: #e0af68;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.cfc9c2 {
    background-color: #cfc9c2;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color9ece6a {
    background-color: #9ece6a;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color73daca {
    background-color: #73daca;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.b4f686 {
    background-color: #b4f6f8;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color2ac3de {
    background-color: #2ac3de;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.b4f9f8 {
    background-color: #b4f9f8;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color2ac3de {
    background-color: #2ac3de;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color7dcfff {
    background-color: #7dcfff;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color7aa2f7 {
    background-color: #2aa2f7;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.bb9af7 {
    background-color: #bb9af7;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}


.color1a1b26 {
    background-color: #1a1b26;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.c0caf5 {
    background-color: #c0caf5;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.a9b1d6 {
    background-color: #a9b1d6;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color9aa5ce {
    background-color: #9aa5ce;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color565f89 {
    background-color: #565f89;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;
}

.color414868 {
    background-color: #414868;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;

}

.color24283b {
    background-color: #24283b;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;

}

.color1a1b26 {
    background-color: #1a1b26;
    border: 2px solid #9aa5ce;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    align-content: end;


}

.colortext p {
    background-color: #414868;
    color: #9aa5ce;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    font-family: Fira code;
    font-size: 0.95em;
}



.color-content {
    display: flex;
    /* margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px; */
    width: 800px;
    height: 600px;
    flex-wrap: wrap;
    flex-direction:column;
    gap:10px;
    padding-bottom:10px;
    justify-content:end;
    background-color: #2aa2f7;
}

.color-row {
    flex-direction: row;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

@media (max-width:600px) {
    .content {
        flex-direction: column;
        width: 300px;
    }

    .info {
        width: 300px;
    }

    h1 {
        font-size: 50px;
    }

    .buttons {
        flex-direction: column;
        gap:20px;
    }

    .color-content {
        width: 300px;
        height: 700px;
    }

    .flex-container {
        flex-direction: column;
    }
}