.flex-container {
   margin-left: 10%;
   flex-wrap: wrap;
   width: 60%;
}


h1 {
   font-size: 40px;
}

h2 {
   color: #9ece6a;
   font-family: inter;
   font-size: 25px;
   white-space: nowrap;
}

.todo {
   color: #7aa2f7;
   font-family: inter;
   font-size: 18px;

}


p {
   color: #c0caf5;
   font-size: 20px;
   font-family: inter;
}

a {
   color: #7dcfff;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}